body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  background-image: url('../src/assets/cloudly.jpg');
  background-size: cover;
  color: #fff;

}

.container {
  display: flex;
  justify-content: center;
}

.favoriteList {
  width: 200px;

}

.weaherCard {
  width: 600px;
  padding: 10px;
}

.info {
  display: flex;
  justify-content: center;
  color: #fbfbfb;
  text-align: start;
}
.info1 {
  margin: auto;
  display: flex;
  width: 50%;
  
}
.info1>div{
  margin: auto;
}
.info1>div>div{
  margin: 8px;
}

.info2 {
  margin: auto;
  display: flex;
  width: 50%;
}
.info2>div{
  margin: auto;
}
.info2>div>div{
  margin: 4px;
}
.cardItem {
  margin: 20px;
  text-align: end;
}

.cityName {
  font-size: 30px;
  text-align: center;
  margin: 5px;
}

.degree {
  font-size: 40px;
  text-align: center;
  margin: 5px;
}

.desc {
  font-size: 20px;
  text-align: center;
  margin: 5px;
}
.image{
  text-align: center;
  }

.image >img{
  width: 60px;
}

.info {
  display: flex;
  background-color: rgba(82, 142, 220, 0.5);
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;  
}
.hours>div{
  border: #2a63a9 1px solid;
}

.otherDays {
  width: 100%;
  background-color: rgba(82, 142, 220, 0.5);
  margin: 10px;
  border-radius: 4px;
  text-align: center;   
  
}

.otherDays>div{
margin-top: 8px;
}

.showDays {
  border: none;
  color: #fbfbfb;
  padding: 15px 10px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 1px;
  width: auto;
  border-radius: 6px;
}


.showDays:hover {
  background-color: #bfdcff;
  ;
  color: #2a63a9;
  ;


}
.form{
  text-align: center;
}

.input {
  border: none;
  border-radius: 6px;
  width: auto;
  margin-top: 20px;
  padding: 20px;
  color: #2a63a9;
  font-size: 18px;
  


}


.navigation {
  display: flex;
  justify-content: space-around;


}

.navItem {}

.form {
  margin: 10px;
}

.card {}

.otherDaysList{
  display: flex;
}

.fav{

}
.favCard {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  border-bottom: #2a63a9 0.1px solid;

}
.favItem {
  margin: 5px;
  font-size: 18px;
  
  }
.favItem>div{
  padding: 6px;
}

.fav:hover {
  background-color: #bfdcff;
  cursor: pointer;
  color: #2a63a9;
  border-radius: 5px;
}

.icon {
  width: 8px;
}

.icon:hover{
  color: #2a63a9;
}

.favIcon{
  float: left;
  width: 10%;
  margin-top: 24px;
  margin-left: 5px;

}
.icon:hover{
  cursor: pointer;
  color: #2a63a9;
}

.favCity{
  font-size: 16px;
}
.favDesc{
  font-size: 10px;
}
.favDegree{
  font-size: 22px;
  margin: auto;
}