* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body {
  font-family: Tahoma, sans-serif;
  background-image: url('../src/assets/cloudly.jpg');
  background-size: cover;
  color: #fff;
  text-align: center;


}
@media screen and (min-width:300px){
  html{
    font-size: 16px;
  }


  .info{
    display: flex;
  }
  .info1, .info2{
    width: 50%;
 
  }
  .otherDaysList{
    display: flex;
  }
  .otherDays{
    width: 100%;
  }
  .favoriteList {
    width: 200px;
    margin: auto;
  }

  
}

/* Container */
.container {
  margin: auto;
  min-width: 200px
}


/*Weather Card */
.iconFav{
  font-size: 1.5rem;
}
.weaherCard {
  padding: 1rem;

}
.info {
  background-color: rgba(82, 142, 220, 0.5);
  padding: 1rem;
  border-radius: 4px;
  color: #fbfbfb;
}

.info1 {
  display: flex;
  padding: 1rem;
  justify-content: center;  
   align-items: center;

}
.info1>div{
  margin: 0.5rem;
}
.info1>div>div{
  margin: 8px;
}

.info2 {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.info2>div{
  margin: 0.5rem;
}
.info2>div>div{
  margin: 4px;
}
.cardItem {
  margin: 20px;
}

.cityName {
  font-size: 2rem;
  margin: 5px;
}

.degree {
  font-size: 3rem;
  margin: 5px;
}

.desc {
  font-size: 1.5rem;
  margin: 5px;
}

.image >img{
  width: 60px;
}


.hours>div{
  border: #2a63a9 1px solid;
}


.otherDays {
  background-color: rgba(82, 142, 220, 0.5);
  border-radius: 4px; 
  padding: 1rem;
  margin:1rem;
}

.otherDays>div{
margin-top: 0.5rem;
}

.showDays {
  border: none;
  color: #fbfbfb;
  padding: 1.5rem 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: auto;
  width: 15rem;
  border-radius: 6px;
}

.showDays:hover {
  background-color: #bfdcff;
  ;
  color: #2a63a9;
  ;

}

/*Form */
.form{
width: 200px;
margin: auto;
}

.input {
  border: none;
  border-radius: 6px;
  width: auto;
  margin-top: 20px;
  padding: 20px;
  color: #2a63a9;
}

/*Navigation*/
.header {
  display: flex;
  justify-content: space-around;
  height: 3rem;
  padding: 1rem;
}


/*Favorite List */


.favCard {
  display: flex;
  cursor: pointer;  
  text-align: left;
  justify-content: space-between;
  margin-bottom: 5px;
  border-bottom: #2a63a9 0.1px solid;
  transition: all 0.1s;

}
.favItem {
  margin: 5px;
  
  }
.favItem>div{
  padding: 6px;
}

.fav:hover {
  background-color: #bfdcff;
  cursor: pointer;
  color: #2a63a9;
  border-radius: 5px;
}

.icon {
  width: 8px;
}

.icon:hover{
  color: #2a63a9;
}

.favIcon{
  float: left;
  width: 10%;
  margin-top: 24px;
  margin-left: 5px;

}
.icon:hover{
  cursor: pointer;
  color: #2a63a9;
}


.favDesc{
  font-size: 0.6rem;
}
.favDegree{
  font-size: 1.6rem;
  margin: auto;
}